@use '~/styles/common.scss' as *;

.polygon-canvas {
  background-color: #999999;
  border-style: solid;
  border-color: black;
}

#adaptive-elem {
  height: 0;
  visibility: hidden;
}

#line-canvas,
#select-canvas,
#point-canvas {
  position: absolute;
  z-index: 1;
}

#loading-elem {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.loading-visible {
  visibility: visible;
  z-index: 2;
}

.loading-hidden {
  visibility: hidden;
  z-index: 0;
}

#canvas-block {
  position: absolute;
}

.display-none {
  display: none;
}

@media #{$desktop-breakpoint} {
  .polygon-canvas {
    width: get-desktop-size(1400);
    height: get-desktop-size(1000);
    border-width: get-desktop-size(3);
  }
  #adaptive-elem {
    width: get-desktop-size(1000);
  }
  #loading-elem {
    width: get-desktop-size(1400);
    height: get-desktop-size(1000);
    font-size: get-desktop-size(60);
  }
}
@media #{$mobile-breakpoint} {
  .polygon-canvas {
    width: get-mobile-size(300);
    height: get-mobile-size(340);
    border-width: get-mobile-size(2);
  }
  #adaptive-elem {
    width: get-mobile-size(1000);
  }
  #loading-elem {
    width: get-mobile-size(300);
    height: get-mobile-size(340);
    font-size: get-mobile-size(30);
  }
}
