<div class="polygon-canvas">
  <div id="adaptive-elem"></div>
  <div id="canvas-block">
    <canvas id="line-canvas" width="300" height="300"> Извините, ваш браузер нет поддерживает&lt;canvas&gt; элемент. </canvas>
    <canvas id="select-canvas" width="300" height="300"> Извините, ваш браузер нет поддерживает&lt;canvas&gt; элемент. </canvas>
    <canvas id="point-canvas" width="300" height="300"> Извините, ваш браузер нет поддерживает&lt;canvas&gt; элемент. </canvas>
  </div>
  <div id="loading-elem" class="loading-hidden">loading</div>
</div>
