<div class="action-panel">
  <div class="panel-content">
    <p class="header">Create polygon</p>
    <button is="action-button" action-type="creating"></button>
    <p id="point-indicator"></p>
    <button is="action-button" action-type="draw"></button>
  </div>
  <div class="panel-content">
    <p class="header">Create path</p>
    <div class="button-block">
      <div class="button-point">
        <button is="action-button" action-type="selecting-first"></button>
        <div class="point" id="first-point"></div>
      </div>
      <div class="button-point">
        <button is="action-button" action-type="selecting-second"></button>
        <div class="point" id="second-point"></div>
      </div>
      <button is="action-button" action-type="change-clockwise"></button>
      <button is="action-button" action-type="clear"></button>
    </div>
    <p id="path"></p>
  </div>
</div>
